# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment folder (adjust based on your environment name)
venv/
.env/
.env

# Flask-related folders
instance/
uploads/

# React build folder
/build/

# Node.js dependencies (frontend)
node_modules/

# Log files
*.log

# IDE or Editor configurations
.vscode/
.idea/
*.swp

# macOS and Windows system files
.DS_Store
Thumbs.db
